
{% extends "index.html" %}
{% block mainblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/packages.css')}}">




<div><h1>{{pannel}}</h1></div>

<div class="grid">


<div class="grid__item">
    <h1>All Counties</h1>
    <br><br>
</div>

<div class="grid__item">
    <h1>Average Last Freeze Date</h1>
</div>
<div class="grid__item">
    <h1>Median Last Freeze Date</h1>
</div>
<div class="grid__item">
    <h1>Most Recent Last Freeze Date/Year</h1>
</div>
<div class="grid__item">
    <h1>Earliest Last Freeze Date/Year</h1>
</div>
<div class="grid__item">
    <h1>Latest Last Freeze Date/Year</h1>
</div>

</div>


<div class="chart_container">

    <div class="chart__item">
<div id="curve_chart" style="width: 700px; height: 600px"></div>
</div>

<div class="chart__item">
    <div class="chart__item">

        <div id="map"></div>
        <script src="{{ url_for('static', filename='js/universal.js') }}" /></script>
        <script>
        {% for marker in markers %}
        L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
        .bindPopup("{{ marker['popup'] }}")
        .openPopup();
        {% endfor %}
        </script>
                

    </div>

    <div class="chart__item">
        <div id="curve_chart3" style="width: 300px; height: 300px"></div>
    </div>
</div>


</div>





{% endblock %}